<div class="row flex-lg-row-reverse align-items-center g-6 py-4 mp-4 mb-5">
  <div class="col-12 col-lg-6">
    <img
      src="/img/blob.png"
      width="600"
      height="500"
      alt="cooking"
      class="d-block mx-lg-aauto img-fluid"
      loading="lazy"
    />
  </div>
  <div class="col-12 col-lg-6">

    <% mainArticule.forEach(function(mainArticule) { %>
    <h1 class="display-5 fw-bold mb-3" id="<%= mainArticule.key %>"><%= mainArticule.name%></h1>
    

    <p class="load main-articule">
      <%= mainArticule.description%>
    </p><% }); %>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
    </div>
  </div>
</div>
<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">

  <% if(categories != '') { %> <% categories.forEach(function(category, index) {
  %> 
    <div class="col text-center category__link">
      <div class="category__img shadow">
       <div id="<%- category.key %>">
        <img
          src="img/<%- category.image %>"
          alt="<%- category.name %>"
          loading="lazy"
        />
      </div></div>
      <div class="pt-1"><%- category.name %></div>
    </div>
    <% }) %> <% } %>

  </div>

  <% informationAboutUs.forEach(function(informationAboutUs) { %>
  <section class="px-0 pt-3 mt-3 text-center" id="info">
    <h1 class="display-5 fw-bold mt-5"><%= informationAboutUs.name%></h1>
    <div class="col-lg-8 mx-auto pb-1 pt-4 info-about-us">
      <%= informationAboutUs.description %>
    </div>
  </section>
 <% }); %>

  <section class="px-0 py-5 my-5 text-center" id="contact">
    <div class="row col-12 row-cols g-1 g-lg-3 px-1">
      <img
        src="/img/contact-left.png"
        alt="Skontaktuj się z nami"
        class="d-block mx-auto mb-4 img-fluid contact-left"
      />
      <img
        src="/img/contact-center.png"
        alt="Skontaktuj się z nami"
        class="d-block mx-auto mb-4 img-fluid contact-center"
      />
      <img
        src="/img/contact-right.png"
        alt="Skontaktuj się z nami"
        class="d-block mx-auto mb-4 img-fluid contact-right"
      />
    </div>
    <% contactUs.forEach(function(contactUs) { %>
    <h1 class="display-5 fw-bold pt-5 mt-5"><%= contactUs.name%></h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-5">
        <%= contactUs.description %>
      <% }); %>   
        <br />
        <% contactUsPhone.forEach(function(contactUsPhone) { %>
        <%= contactUsPhone.name %>
        <% }); %>  
      </p>
    </div>
  </section>
   
  <div class="px-0 pt-0 pb-3 my-1 text-center">
    <div class="mapouter">
      <div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=ul.%20Mostowa%201%2087-400%20Golub-Dobrzy%C5%84&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
    </div>
    <% address.forEach(function(address) { %>
    <h1 class="display-5 fw-bold pt-4"><%= address.name %></h1>
    <% }); %>  
    <div class="col-lg-6 mx-auto">
      <% addressStreet.forEach(function(addressStreet) { %>
      <p class="lead mb-4">
        <%= addressStreet.name %><br>
        <%= addressStreet.description %></p>
        <% }); %>  
    </div>
  </div>


</div>
